Package: @project.artifactId@
Version: @project.version@
Architecture: all
Priority: low
Maintainer: Van Haute, Geert <geert.vanhaute@vlaanderen.be>
Description: @project.name@
Depends: openjdk-21-jdk-headless
Homepage: https://github.com/milieuinfo/VKBO-LOD-API